@import "tailwindcss";
@plugin "daisyui";
@plugin "@midudev/tailwind-animations";

@tailwind utilities;

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
  }
}

